@model MovieShowVM

<tr>
    <td>@Model.Title</td>
    <td>@Model.Length min</td>
    @if (Model.Rate == null)
    {
        <td>N/A</td>
    }
    else
    {
    <td>@Model.Rate</td>
    }
    <td><button type="button" class="btn btn-primary btn-xs" onclick='location.href="/Movies/Reviews/@Model.Id"'>Reviews</button></td>
</tr>

