@model MovieReviewVM


<h1>@Model.ReviewTitle <button data-toggle="collapse" align="center" class="btn btn-warning btn-sm" data-target="#@Model.Id">See more</button> </h1>

<div id="@Model.Id" class="collapse">
    <div class="container">
        <h2>Review</h2>

        <p>@Model.Text</p>

    </div>
</div>


