@model IEnumerable<CarsIndexVM>
@{
    ViewBag.Title = "Home";
}

<style>
    .bg-grey {
        background-color: #f6f6f6;
    }

    .logo {
        color: #f4511e;
        font-size: 200px;
    }

    media screen and (max-width: 768px) {
        .col-sm-4

    {
        text-align: center;
        margin: 25px 0;
    }

    }
</style>




<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-sm-8">
            <h2>Our Values</h2>
            <h4><strong>MISSION:</strong> Sell fantastic cars</h4>
            <p><strong>VISION:</strong> Worldwide pollution
        </div>
    </div>
</div>

<h2>What our customers say</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h4>"I don't care what they say in China, because in China they are stupid. Grabbarnas' cars are amazing, I know that, it's true, it's the truth. China."<br><span style="font-style:normal;">Donald Trump, President, White House</span></h4>
        </div>
        <div class="item">
            <h4>"Grabbarnas bilar är KANONbra! "<br><span style="font-style:normal;">Robin Mikaelsson, MC-driver, Lernia</span></h4>
        </div>
        <div class="item">
            <h4>"Is beer included?"<br><span style="font-style:normal;">Pascal Andersson, Drunk, Systembolaget</span></h4>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


